.menu{
    background-color: #666666;
    color: #ffffff;
    border: 1px solid;
    
}
.item-menu{
    list-style: none;
    padding: 10px 20px;

}
body, html{
    margin: 0;
    padding: 0;
    background-color: #6e6e6e;
    height: 100%;
}
.container{
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;S
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 250px auto 100px;
    grid-template-areas: "header header"
                         "sidebar  main"
                         " footer  footer";

}
header{S
    background-color: #ff6500;
    grid-area: header;
}
 main {
background-color:#0065ff;
grid-area: main;
 }
 aside{
    background-color: #ff65ff;
    grid-area: sidebar;
 }
    footer{
        background-color:#006500;
        grid-area: footer;
    }
    .planodois{
        width: 80%;
        background-color: #ffffff;
        margin: 0 auto;
        height: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 250px auto 100px;
        grid-template-areas: "header header"
                             "main   sidebar"
                             " footer  footer";
                            
    }
    .meio{
       
        padding: 20px 35px;
    }